* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 10px;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 2.5rem;
    font-family: 'Fasthand', cursive;
    color: rgb(255, 0, 149);
}

.wrapper {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: 5rem;
}

#slider {
    width: 100%;
    overflow: hidden;
    margin: 4rem 0;
    position: relative;
}

#slider-content {
    width: 500%;
    max-height: 620px;
    display: flex;
    position: relative;
    left: -200%;
    transition: all .9s ease-in-out;
}

.slider-item{
    width: 20%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider img {
    max-height: 100%;
    max-width: 100%;
}

#slider button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: none;
    font-size: 10rem;
    transform: translateY(-50%);
    cursor: pointer;
}

#left,#right {
    width: 50px;
}

#left::before,
#left::after,
#right::before,
#right::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: rgb(255, 0, 149);
    transition: all .3s ease-in-out;
}

#left::before {
    transform: rotateZ(-45deg);
    top: 36%
}

#left::after {
    transform: rotateZ(45deg);
    top: 64%;
}

#right::before {
    transform: rotateZ(45deg);
    top: 36%;
}

#right::after {
    transform: rotateZ(-45deg);
    top: 64%;
}

#left.close::before,
#left.close::after,
#right.close::before,
#right.close::after {
    top: 50%
}

#left {
    left: 1rem;
}

#right {
    right: 1rem;
}

#video {
    padding: 1rem;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    margin: 10rem auto;
    max-width: 75%;
}

@media screen and (max-width:739px) {
    #video {
        max-width: none;
    }
}

#video img {
    max-width: 100%;
    max-height: 100%;
}

#video button {
    width: 8rem;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, .7);
    border:1px solid rgb(255, 0, 149);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: all .3s ease-in-out;
}

#video button::after {
    content: "";
    position: absolute;
    left: 15%;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to right bottom, rgb(255, 0, 149) 50%, transparent 50%);
    transform: rotateZ(135deg);
}

#video button:hover {
    background-color: rgba(0, 0, 0);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .8s ease;
}

.modal-content {
    padding: 0.5rem;
    background-color: rgba(255, 0, 149, .5);
    display: flex;
    align-items: center;
    width: 75%;
    aspect-ratio: 16 / 9;
}

@media screen and (max-width:1280px) {
    .modal-content {
        width: auto;
        max-height: 95%;
        max-width: 100%;
    }
}

.modal-content video {
    width: 100%;
}

.modal button {
    width: 8rem;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 2rem;
    background-color: rgba(0, 0, 0, .7);
    border:1px solid rgb(255, 0, 149);
    border-radius: 50%;
    transition: all .4s ease;
}

.modal button::before,
.modal button::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 20%;
    width: 60%;
    height: 7%;
    background-color: rgb(255, 0, 149);
    border-radius: 20%;
}

.modal button::before {
    transform: rotateZ(45deg);
}

.modal button::after {
    transform: rotateZ(-45deg);
}

.modal button:hover {
    background-color: #000;
    transform: rotateZ(90deg);
}

.anim-element {
    transform: translateY(30%);
    opacity: 0;
    transition: all 1s ease-out;
}

.active {
    transform: none;
    opacity: 1;
    pointer-events: all;
}

footer {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
}

